@import 'variables';
@import 'mixin';
@import 'module';

body {
    background-color:  black;
}

.box {
    display: flex;
    color: #ff0000;
}


$brand-primary: #3097D1;
.test {
    color: $brand-primary;
    font-size: 20px;
    user-select: none;
}